<!DOCTYPE html>
<html lang="en">
{% include 'nav/navbar.html' %}

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

    <title>Graph</title>
</head>

<body>
    {% block content %}

    <div class="container">
        <div class="row ">
            <div class="col-sm-12 offset-sm-2">
                <div class="card " id="info-container">
                    <form name="form" method="POST" action="">
                        {% csrf_token %} {{ form.as_p }}
                        <div class="choix_bar">
                            <div class="th_select">
                                <label for="Parametres">Parametres</label>
                                <div class="form-group col-sm-12">
                                    <select id="Parametres" class="nbad-selectbox form-control " name="Parametres">
                                        <option value="Select A Data">Selectionner un Parametre...</option>
                                        <option value="Species">Species</option>
                                        <option value="Catch">Catch</option>
                                        <option value="Biomass">Biomass</option>
                                        <option value="Graph Biomass">Graph Biomass</option>
                                        <option value="Biological parameters">Biological parameters</option>
                                        <option value="Diet composition">Diet composition</option>
                                    </select>
                                </div>
                            </div>

                            <div class="sd_select">
                                <label for="Catches_by">Catches by</label>
                                <div class="form-group col-sm-12">
                                    <select id="Catches_by" name="Catches_by" class="nbad-selectbox form-control ">
                                    <option value="Select A Data">Select Catches...</option>
                                            <option value="Functional group">Functional group</option>
                                </select>
                                </div>
                            </div>
                            <!-- <div class="fs_select">
                                <label for="Species">Species's Group </label>
                                <div class="form-group col-sm-12">
                                    <select id="choix" class="nbad-selectbox form-control " name="Group Species">
                                    <option value="Select A Data">Select a group...</option>
                                    {% for columnNames in spieces %}
                                        <option value="{{columnNames}}">{{ columnNames|safe }}</option>
                                    {% endfor %}
                                    

                                </select>
                                </div>
                            </div> -->

                            <div class="fs_select">
                                <label for="Species">Species </label>
                                <div class="form-group col-sm-12">
                                    <select id="Species" class="nbad-selectbox form-control " name="Species">
                                    <option value="Select A Data">Select Species...</option>
                                    {% for columnNames in spieces %}
                                        <option value="{{columnNames}}">{{ columnNames|safe }}</option>
                                    {% endfor %}
                                    <option value="Scomber colias">Scomber colias</option>
                                    <option value="Engraulis encrasicolus">Engraulis encrasicolus</option>
                                    <option value="Sardina pilchardus">Sardina pilchardus</option>


                                </select>
                                </div>
                            </div>


                        </div>
                        <div class="Upload_data ">
                            <input type="submit" href="./" value="Load data">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="footer ">
        <div class="contain ">
            <div class="col ">
                <h1>Company</h1>
                <ul>
                    <li><a href=" ">Some txt</a></li>
                    <li><a href=" ">Some txt</a></li>
                    <li><a href=" ">Some txt</a></li>
                </ul>
            </div>
            <div class="col ">
                <h1>Informations</h1>
                <ul>
                    <li><a href="mailto:contact@toubkalatlasmorocco.com ">Mail : xxxxxxx@emial.com</a></li>
                    <li><a href="tel:+212666666666 ">Phone : +212666-666666</a></li>
                    <li><a href="https://www.google.com/maps/@31.5070442,-9.7517517,15z ">Adress : <p>some text here</p></a></li>
                    <li><a href=" ">Team</a></li>
                </ul>
            </div>
            <div class="col ">
                <h1>Terms Of Use</h1>
                <ul>
                    <li><a href="terms.html ">Terms</a></li>
                    <li><a href="privacy_policy.html ">Privacy Policy</a></li>
                    <li><a href=" ">Some txt</a></li>

                </ul>
            </div>
            <div class="col social ">
                <h1>Social</h1>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
<script src="{% static '../static/js/main.js' %}"></script>

</html>