<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- open layers map  links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

</head>

<body>
    <!-- index.css -->
    <div class="topnav" id="myTopnav">

        <a href="/"><img class=" img" src="{% static 'images/logo.png.jpg' %}"alt="Logo"></a>
        <ul>
            <a href="./index.html" class="active">Home</a>
            <a href="./next.html" class="active">next</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </ul>
    </div>
    <!-- heroImg.css -->
    <div class="hero-image">
        <div class="hero-text">
            <h1>Some text here with db </h1>
            <p>Short title or description from db <br> this is or first db whish allow the client to write what ever he want's in this dive </p>
            <a href="./index.html">Home</a>
        </div>
    </div>
    <br>

</body>

</html>