{%extends "base.html"%}
{% block title %} Home Page{% endblock%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{url_for('static', filename='home.js')}}"></script>

    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='home.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <h1>{{ message }}</h1>
              {% endfor %}</span>
          {% endif %}
      {% endwith %}
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
        <div class="container">
          <h1>Loream brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
          <p>Change your life and learn to code at one of our campuses around the world.</p>
          <a class="btn " href="login">Apply now</a>
        </div>
      </div>
      

</body>
</html>
{% endblock%}